.build/
.swiftpm/
DerivedData/
dist/
.DS_Store
.env*
*.xcuserstate
xcuserdata/
*.p8
*.p12
*.pfx
*.pem
*.key
*.cer
*.crt
*.der
*.csr
*.p7b
*.p7c
*.jks
*.keystore
*.keychain
*.keychain-db
keychain-password
DevelopmentSigning/
*.mobileprovision
*.provisionprofile
